<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="colin.com.module.camera">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- some devices need it -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full"/>
    <uses-feature android:name="android.hardware.camera2.autofocus"/>
    <application
        android:theme="@style/AppTheme">
        <activity android:name=".photo.CameraActivity">

        </activity>
        <activity android:name=".CameraMainActivity" />
        <activity android:name=".CameraPreActivity" />
        <activity android:name=".AudioRecordActivity" />
        <activity android:name=".MediaRecorderActivity" />
        <activity android:name=".MediaCodecActivity" />
        <activity android:name=".AudioDecoderActivity" />
    </application>

</manifest>